.bg-contact{
    background: url('../../../assets/images/contact-background.svg');
    background-size: cover; /* Adjust to your preference */
    background-position: center;
    background-repeat: no-repeat;
}
.box {
    height: 35px;
    width: 35px;
}
.footer-content {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
  }