.bg-contact{
    background: url('../../../assets/images/contact-background.svg');
    background-size: cover; /* Adjust to your preference */
    background-position: center;
    background-repeat: no-repeat;
}
.box {
    height: 35px;
    width: 35px;
}