:root {
    --picton: #00A8E8 !important;
    --cerulean: #007EA7 !important;
    --prussian: #003459 !important;
    --black: #000000 !important;
    --white: #FFFFFF !important;
  }

  /* =============================================== HTML Style  ===============================================*/
  body {
    background-color: #000000;
  }
  html::-webkit-scrollbar {
    width: 12px;
  }

  html::-webkit-scrollbar-track {
    background: var(--prussian);
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
    border: 3px solid var(--prussian);
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background: var(--picton);
  }

  html {
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
  }

/* =============================================== Backgrounds  ===============================================*/
.bg-picton {
    background-color: var(--picton) !important;
  }
  
  .bg-cerulean {
    background-color: var(--cerulean);
  }

  .bg-prussian {
    background-color: var(--prussian);
  }

  .bg-black {
    background-color: var(--black) !important;
  }
  
  .bg-white {
    background-color: var(--white);
  }
/* =============================================== Colors  ===============================================*/
  
.c-picton {
    color: var(--picton) !important;
  }
  
  .c-cerulean {
    color: var(--cerulean);
  }

  .c-prussian {
    color: var(--prussian);
  }

  .c-black {
    color: var(--black);
  }
  
  .c-white {
    color: var(--white);
  }


  /* =============================================== Tools  ===============================================*/

  .pointer {
    cursor: pointer;
  }

  .h-25-vh {
    height: 25vh;
  }
  .h-50-vh {
    height: 50vh;
  }
  .h-75-vh {
    height: 75vh;
  }
  .h-100-vh {
    height: 100vh;
  }

  /* =============================================== Buttons  ===============================================*/

  .glass {
    background: rgba(255, 255, 255, 0.164);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--picton);
    color: var(--white);
  }

  .glass-btn {
    background: rgba(255, 255, 255, 0.164);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--picton);
    color: var(--white);
  }

  .glass-btn:hover {
      box-shadow: 0 4px 30px rgba(19, 112, 233, 0.7);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid var(--picton);
      color: var(--picton);
  }

  .default-btn {
    background: var(--black);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #4b4b4b;
    color: var(--white);
  }

  .default-btn:hover {
      box-shadow: 0 4px 30px rgba(19, 112, 233, 0.7);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid var(--picton);
      color: var(--picton);
  }